* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  font-weight: bold;
}

body {
  background-color: #f0ecff;
}

.btn {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav {
  padding-top: 20px !important;
  box-shadow: 0px 2px 10px 0px rgb(165, 165, 165);
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}

.post-c {
  margin-top: 60px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header div:first-of-type {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-body {
  cursor: pointer;
}

.card-body img {
  max-height: 600px;
}

.card-body p:first-of-type {
  color: #777;
  margin-top: 5px;
}

.tags {
  max-width: 100%;
  display: flex !important;
  align-items: center;
  gap: 5px;
  /* margin-left: 100px; */
}

.tags p {
  cursor: pointer;
  color: white !important;
  background-color: #0066da;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.tags p:hover {
  background-color: black;
}

/* .tags p:first-of-type {
  margin-left: 50px !important;
} */

.mylogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 1;

  z-index: 99;
}

.alert {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.alert i {
  font-size: 70px;
  color: rgb(1, 189, 1);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid rgb(1, 189, 1);
  margin: auto;
}

.alert p {
  font-size: 20px;
  opacity: 0.8;
}

.fa-solid.fa-x {
  color: red;
  border-color: red;
  padding-left: 33px;
  padding-right: 33px;
}

@media (max-width: 767px) {
  .alert {
    width: 300px;
  }
}

.info {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info p {
  font-weight: bold;
  margin-left: 10px;
}

#add-post {
  position: fixed;
  z-index: 5;
  bottom: 50px;
  right: 10px;
  background-color: #0075ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#add-post:hover {
  background-color: #0066da;
}

#add-post i {
  color: white;
  font-size: 30px;
}

@media (max-width: 767px) {
  #add-post {
    width: 50px;
    height: 50px;
  }
  #add-post i {
    font-size: 20px;
  }
}

.info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

input[type="file"] {
  display: none;
}

/* Style the custom file upload button  */
#custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: rgb(201, 201, 201);
  color: black;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  border: 1px dashed black;
  width: 100%;
}

#custom-file-upload:hover {
  background-color: rgb(176, 176, 176);
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.349);
  display: none;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.spinner {
  border: 4px solid #eee;
  border-top-color: #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  display: block; /* Initially hidden */
  margin: 30px auto 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#return {
  display: none;
}

#return {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  right: 10px;

  background-color: #0075ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#return:hover {
  background-color: #0066da;
}

#return i {
  color: white;
  font-size: 30px;
}

.comments-container {
  display: none !important;
  flex-direction: column-reverse;
  background-color: #e1d9ff;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.create-comment-container {
  display: none;
  flex-direction: column-reverse;
  background-color: #e1d9ff;
  width: 100%;
  margin-top: 40px;
  padding: 20px;
}

.comment {
  background-color: white;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.comment .head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.comment .head span {
  margin-left: 10px;
  font-weight: bold;
}

.comment .body {
  padding-left: 30px;
}

.comment .body p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.makecomment {
  display: flex;
  gap: 10px;
}

.create-comment-container input {
  outline: none;
  border: 1px solid #ddd;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.create-comment-container button {
  flex: 1;
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
}

.down-arrow {
  font-size: 20px;
  font-weight: bold;
  color: #0066da;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 4px;
  display: none;
}

.cardfooter {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 300px; */
}

.cardfooter .comment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
}

.domarginL {
  margin-left: 100px;
}

@media (max-width: 767px) {
  .cardfooter {
    flex-direction: column;
    gap: 10px;
  }
  .domarginL {
    margin-left: 0;
  }
}

.on {
  display: flex !important;
}

@media (max-width: 767px) {
  .makecomment {
    flex-direction: column;
  }
  .makecomment input {
    width: 100%;
  }
}

#profile-link {
  cursor: pointer;
}

#user-post-info {
  cursor: pointer;
}
